.relatedItemContainer {
    display:flex;
    .relatedItemWrapper {
        .relatedItemPhoto {
            max-height: 200px;
            width: 200px;
        }
        .relatedItemInfo {
            font-size: 20px;
        }
    }
}