.SearchItem {
    height: fit-content;
    width: 720px;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 0px 15px;
    .itemImg {
        height: 240px; //240px欄高跟他差padding上下15px*2
        width: 200px;
        object-fit: cover;
        border-radius: 3px;
    }
    .itemInfo {
        padding-top: 10px;
        width: 505px; //200px+505px+gap 15px=總欄寬720px
        height: 400px;
        .infoTitle {
            height:fit-content;
            display: flex;
            flex-direction: column;
            //background-color: aquamarine;
            h2 {
                font-size: 16px;
                width: 100px;
            }
            .infoTitleRight {
                display: flex;
                flex-direction: column;
                height: 100px;
                gap: 5px;
                .infoTitleRate {
                    display: flex;
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        font-size: 20px;
                        font-weight: 700;
                        height: 40px;
                        width: 40px;
                        border: none;
                        background-color: orange;
                        border-radius: 5px 5px 5px 0px;
                    }
                }
            }
        }
        .infoDes {
            .discount {
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 10px;
                font-weight: 200;
                padding: 5px;
                border: none;
                background-color: darkgoldenrod;
            }
        }
    }
}

.infoDetail {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .detailLeft {
        border-left: 3px solid lightgray;
        padding: 15px 5px;
        font-size: 18px;
        .detailDes {
            margin-top: 10px;
            color: dimgray;
            b:last-child {
                color: green;
            }
        }
    }
    .detailRight {
        font-size: 12px;
        .btn {
            margin-top: 10px;
            width: 200px;
            color: white;
            font-size: 18px;
            padding: 5px 10px;
            border: none;
            background-color: rgb(255, 142, 4);
            border-radius: 1px;
            cursor: pointer;
            &:hover {
                background-color: rgb(206, 114, 1);
            }
        }
        span {
            display: flex;
            justify-content: flex-end;
        }
        .price {
            font-size: 20px;
            font-weight: 500;
        }
        .tax {
            color: gray;
        }
    }
}

.active{
    background-color:rgba(53, 164, 127,0.2) ;
    box-shadow: 0px 0px 15px var(--primary-color);
}